<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html/Javascript/python; charset=utf-8" />
    <title>Ride@Wes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Exo:500' rel='stylesheet' type='text/css'>
      
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/sunny/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  </head>

  <body>{% csrf_token %}
      
      
      <div id="wrap"> <!-- wrap all content for fixed header/footer -->
          
      <div class="modal-header" id="mainTitle">
        <img src="../static/img/license-plate.jpg" >
          <!-- http://acme.com/licensemaker/licensemaker.cgi?state=Connecticut&text=Wes+Ride&plate=1987&r=1520451124 -->
          <br><br>
        <p>THIS IS <img src="../static/img/y-sign.jpg" id="ysign"></p>
      </div>
          
      <div id="content">
      
      <div id="signin" class="loadSearch">
  
      <!-- Main Container -->
      <section>
        <div class="" id="loginModal">
        <div class="modal-body" id="loginBody">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#logtab" data-toggle="tab">Login</a></li>
            <li><a href="#createtab" data-toggle="tab">Create Account</a><li>
          </ul>
  
          <div id="tabs" class="tab-content">
            <div class="tab-pane active in" id="logtab">
              <div class="container login" id="logContainer">
                <div class="row">
                  <div class="center offset4 span4 well">
                    <div id='loginerror' class="alert alert-box" style="display: none; ">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <legend>Sign In</legend>
                      <input type="text" id="username" class="span4" name="username" placeholder="Email" />
                      <input type="password" id="password" class="span4" name="password" placeholder="Password  " />
                    <button id="login" type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
                    <a href="#forgotbox" data-toggle="modal"><i></i>Forgot Password?</a  >
                  </div>
                </div>
              </div>
              
            </div>
              
            <div class="tab-pane fade" id="createtab">
              <div class="center offset4 span4 well">
              <div id="createerror" class="alert alert-box" style="display: none; ">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
                <label>Email</label>
                <div class='alert' style='display:none;' id='emailErrors'></div>
                <input id="addemail" type="text" value="" class="span4" placeholder="ted@wesleyan.edu" />
                <label>Password</label>
                <div class='alert' style='display:none;' id='passwordErrors'></div>
                <input id="addpassword" type="password" value="" class="span4" placeholder="Password (at least 8 characters)" />
                <label>Confirm Password</label>
                <div class='alert' style='display:none;' id='password1Errors'></div>
                <input id="addconfirmpassword" type="password" value="" class="span4" placeholder="Password" />
                <label>Name</label>
                <div class='alert' style='display:none;' id='nameErrors'></div>
                <input id="addname" type="text" value="" class="span4" placeholder="Name" />
                <label>Phone Number</label>
                <div class='alert' style='display:none;' id='phoneNumberErrors'></div>
                <input id="addphonenumber" type="text" value="" class="span4" placeholder="Phone Number" />
                <label>Class Year </label>
                <div class='alert' style='display:none;' id='classYearErrors'></div>
                <input id="addclassyear" type="text" value="" class="span4" placeholder="Class Year" />
  
                <div>
                  <button id="create" class="btn btn-primary">Create Account</button>
                </div>
            </div>
            </div>
          </div>
         </div>
            
        </div>
      </section>
    <!-- Main Container End -->

    <!-- Forgot Password Box -->
    <div id="forgotbox" class="modal hide fade in" style="display: none; ">
      <div id="forgoterror" class="alert alert-box" style="display: none; ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Forgot Password</h3>
      </div>
      <div class="modal-body">
      <p>Enter your email to reset your password</p>
          <div class="controls control-row">
            <input id="forgotemail" name="forgotemail" type="text" class="span3" placeholder="Email" />
         </div>
      </div>
      <div>
        <a id="forgot" class="btn btn-primary">Submit</a>
      </div>
    </div>

    <!-- Contact Us Box -->
    <div id="contactbox" class="modal hide fade in" style="display: none; ">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Contact Us</h3>
      </div>
      <div class="modal-body">
      <p>Tell us what you think.</p>
          <div class="controls control-row">
            <input name="name" type="text" class="span3" placeholder="Name" />
          </div>
          <div class="controls control-row">
            <input name="username" type="text" class="span3" placeholder="username" />
          </div>
          <div class="controls">
            <textarea id="message" name="message" class="span5" placeholder="Your Message" rows="5"></textarea> 
          </div>
      </div>
      <div>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>
        </div>
    </div>
    <!-- SIGN IN END-->
          
          
    <div id="search" class="otherpages">
          I am a
          <select id='isDriver'>
            <option value='driver'>Driver</option>
            <option value='passenger'>Passenger</option>
          </select>
          <p>Driving 

            <select id='direction'>
              <option value='fromWes'>from Wesleyan to</option>
              <option value='toWes'>to Wesleyan from</option>
            </select>
          </p>
        
          <input type="text" id="city" name="city" placeholder="Middletown" value="Middletown" required />
            <select id="state" name="state" class="form-control" >
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option selected value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
        <br>
        <p>Leaving at 
            <input type="time" id="time" name="departTime" value="12:00" />
            on 
            <input type="text" id="datepicker" name="departDate" />
        </p>
        <br>
        <button type="submit" id="searchRides" name="searchRides" >Search for a Ride!</button>
    </div>
    <!-- SEARCH END -->
          

    <div id="suggestions" class="otherpages loadSearch">
        <p>No results found</p>
        <div id="createNew">
    
        
        </div>
    </div>
    <!-- SUGGESTIONS END -->
    
    </div> <!-- end main content -->
          
    <div id="footer">
        <p class="text-center muted">Created by Ted Kim, Max Dietz, Matthew Stein. </p>
        <p><a id="contactLink" href="#contactbox" data-toggle="modal"><i class="icon-envelope icon-black"></i> Contact Us</a></p>
    </div>
          
    </div> <!-- end wrap -->
          

    <!-- Javascript -->
    <script>
      $.fn.classList = function() {return this.className.split(/\s+/);};
       function getCookie(name) {
           var cookieValue = null;
           if (document.cookie && document.cookie != '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
               // Does this cookie string begin with the name we want?
               if (cookie.substring(0, name.length + 1) == (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
             }
           }
           return cookieValue;
         }
      
       $.ajaxSetup({
         beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
       });

       $("#login").click(function() {
         $.post("/login/",
          { 'username': $("#username").val(),
            'password': $("#password").val(),
          }).always(function(r) {
            var resp = eval("(" + r.responseText + ")")
            if (resp.response.toString() != "ok") {
              $("#loginerror").text(resp.response).show();
            } else {
              $("#loginerror").hide();
              $("#signin").hide();
              $("#search").show();
            }
          })
        });

       $("#forgot").click(function() {
        $.post("/forgot-password/",
          { 'email' : $("#forgotemail").val(),
        }).always(function(r) {
          var resp = eval("(" + r.responseText + ")");
          $("#forgoterror").hide();
          if (resp.response.toString() != "ok") {
            $("#forgoterror").text(resp.response).show();
          }
        })
       });

       $("#create").click(function() {
        $.post("/users/add/",
          { 'email': $("#addemail").val(),
            'password' : $("#addpassword").val(),
            'password1' : $("#addconfirmpassword").val(),
            'name' : $("#addname").val(),
            'phone_number' : $("#addphonenumber").val(),
            'class_year' : $("#addclassyear").val(),
          }).always(function(resp) {
            $("#createerror").hide();
            $("#emailErrors").hide();
            $("#nameErrors").hide();
            $("#passwordErrors").hide();
            $("#password1Errors").hide();
            $("#phoneNumberErrors").hide();
            $("#classYearErrors").hide();
            if (resp.response && resp.response.toString() != 'ok') {
              if (resp.response.__all__)
                $("#createerror").text(resp.response.__all__[0]).show();
              if (resp.response.email)
                $("#emailErrors").text(resp.response.email[0]).show();
              if (resp.response.name)
                $("#nameErrors").text(resp.response.name[0]).show();
              if (resp.response.password)
                $("#passwordErrors").text(resp.response.password[0]).show();
              if (resp.response.password1)
                $("#password1Errors").text(resp.response.password1[0]).show();
              if (resp.response.phone_number)
                $("#phoneNumberErrors").text(resp.response.phone_number[0]).show();
              if (resp.response.class_year)
                $("#classYearErrors").text(resp.response.class_year[0]).show();
          } else {
              $.post("/login/",
            { 'username': $("#addemail").val(),
              'password': $("#addpassword").val(),
            }).always(function(r) {
              var resp = eval("(" + r.responseText + ")")
              if (resp.response.toString() != "ok") {
                $("#loginerror").text(resp.response).show();
              } else {
                $("#loginerror").hide();
                $("#signin").hide();
                $("#search").show();
              }
            })
          }
        })
       });

      $("#datepicker").val((new Date()).toLocaleDateString());

      $.getJSON("/users/info",function(r){
        if (!r.response) { $("#loginerror").hide();
                $("#signin").hide();
                $("#search").show();
         }});
        
      $("#searchRides").click(function() {
        var driver = "True";
        var direction = "True";
        var time = ($("#datepicker").datepicker( "getDate" ).toLocaleDateString()) + $("#time").val();

        if ($("#isDriver").val() != "driver") {
          driver = "False";
        }

        if ($("#direction").val() != "toWes") {
          direction = "False";
        }

        $.getJSON("/search/?to_wes=" + direction +"&driver=" + driver + "&city=" + $("#city").val() +"&state=" + $("#state").val() + "&time=" + time).always(function(r) {
        console.log("/search/?to_wes=" + direction +"&driver=" + driver + "&city=" + $("#city").val() +"&state=" + $("#state").val() + "&time=" + time)
        console.log(r);
        })
        
        $("#search").hide();
        $("#suggestions").show();
      });

      $(function() {
        $("#datepicker").datepicker();
      });
    </script>
  </body>
</html>
