//fonts
@font-face {
    font-family: Dodger;
    src: url(../fonts/Dodger/Dodgev2.ttf);
}
    

#mainTitle {
    color: #ff2a2a;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 2em;
    font-family: Exo;
}