@font-face {
    font-family: "License";
    src: url("../fonts/LicensePlate.ttf") format("truetype");
}
@font-face {
    font-family: "Railway";
    src: url("../fonts/railway/Railway.otf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#wrap {
    min-height: 100%;
    position: relative;
}
#content {
    padding: 10px;
    padding-bottom: 80px;
}
#footer {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
#mainTitle {
    color: #ff2a2a;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 2em;
    font-family: "Railway";
}
#ysign {
    height:50px;
    width: auto;
}
.otherpages {
    /* hide all but login page at start */
    display: none;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline;
}
.nav-tabs {
    text-align: center;
}
#contactLink {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#search {
    margin-top: 15px;
    text-align: center;
}
#search, .searchFont {
    font-size: 16px;
    font-family: "Railway";
}